<template name="upsertCollaborationForm">
  <article id="upsertCollaborationForm" class="page" style="{{getOpacity}}">
    <h3>Collaboration</h3>
    {{#autoForm
      id="addCollaborationForm"
      collection="Collaborations"
      type="insert"
      validation="submit"
      schema="Schemas.collaboration"
      doc=this
    }}


        {{> afQuickField name="name" }}
        {{> afQuickField name="description" value=description }}

        <small>
          {{> afQuickField
            name="isUnlisted"
            label-style="display:none;"
            type="boolean-radios"
            value=isUnlisted
            trueLabel="This is an unlisted collaboration and will not appear in the directory to non-collaborators."
            falseLabel="This is a listed collaboration, only collaborators can see its contents."
          }}
          <br>
        </small>

        {{> bump
          name="collaborators"
          class="collaboratorListClass collaboratorInitWithSelf"  }}

        {{#if afFieldIsInvalid name='collaborators'}}
            <span class="help-block">{{afFieldMessage name=''}}</span>
        {{/if}}
        {{> bump name="administrators" class="collaboratorListClass collaboratorInitWithSelf" }}


        {{> afQuickField name="requiresAdministratorApprovalToJoin" label-style="display:none;" type="boolean-radios"
             value=requiresAdministratorApprovalToJoin
             falseLabel="Users may add themselves"
             trueLabel="Users require administrator approval"}}

        {{> bump name="invitations"  class="collaboratorListClass"   }}

        {{> bump name="requests"  class="collaboratorListClass"   }}

        <button id="upsertCollaborationButton" type="submit" class="btn-primary"> Submit </button>
        <button id="cancelAndGoCollaborationList" type="button" class="cancelAndGoCollaborationList"> Cancel </button>

        {{#if this}}
          <button data-_id={{doc._id}} data-name={{doc.name}} type="button" class="right removeCollaboration btn btn-danger" style="background-color:red!important;">Delete</button>
        {{/if}}


    {{/autoForm}}
  </article>
</template>



<template name="bump">
  <div class="panel panel-default">
    {{#with afFieldLabelText name=name}}
    <div class="panel-heading">
      <h3 class="panel-title">{{this}}</h3>
    </div>
    {{/with}}
    <div class="panel-body">
      {{#if afFieldIsInvalid name=name}}
          <span class="help-block">{{afFieldMessage name=name}}</span>
      {{/if}}
      {{> afFieldInput name=name class=class placeholder="userA@somewhere.com, userB@someplaceelse.io"}}
    </div>
  </div>
</template>
