<template name="collaborationGrid" xmlns="http://www.w3.org/1999/html">

  <!-- <div id="collaborationGrid" class="page" style="{{getOpacityWithCorner}}"> -->
  <div id="collaborationGrid" class="page">
    <div id="collaborationGridElements" class="posts list">
      {{#each collaboration}}
        {{> collaborationGridElement}}
      {{/each}}
    </div>
    <br>
  </div>
</template>


<template name="collaborationGridElement">
  <!-- <a id={{_id}} name="{{name}}"> -->
    <div class="collaborationCard collaboration">
        <div class="cardBody">
          {{#if isCollaborationAdmin}}
              <a class="controls" href="/collaboration-edit/{{name}}"> <i class="fa fa-edit fa-1g" style="float:right"  title="Edit Collaboration"></i></a>
          {{/if}}
          <h2 class="collaborationTileTitle"><a class="collaborationTileTitleLink" href="/collaboration/{{name}}">{{name}}</a></h2>
          <h5>{{owner}}</h5>

          {{#if requiresAdministratorApprovalToJoin}}
            <h6>Users require administrator approval</h6>
          {{else}}
            <h6>Users may add themselves</h6>
          {{/if}}

          <p>
          {{description}}
          </p>



          {{#if isUnlisted}}
          <h6>Collaboration is unlisted and only the collaborators and administrators can see it.</h6>
          {{/if}}

          <b>Collaborators</b> <div class="collaboration-token">{{collaborators}}</div><br/>



          {{#if isCollaborationAdmin}}
              <b>Administrators</b> <div class="collaboration-token wordwrap">{{administrators}}</div><br/>
              {{#if invitations}}
                  <b>Invitations</b> <div class="collaboration-token wordwrap">{{invitations}}</div><br/>
              {{/if}}
              {{#if requests}}
              <center>
                <button name="review" type="button" class="review btn btn-default btn-lg">Review {{requests.length}} requests</button>
              </center>
              {{else}}
                  no requests
              {{/if}}
          {{/if}}

        </div>
        <div class="cardFooter">
          {{#if isCollaborationMember}}
            {{#if memberBecause}}
               <h6>
                 You are a member of these collaborations which are members of this collaboration:
                  {{#each memberBecause}}
                  <li>
                      {{this}}
                  </li>
                  {{/each}}
               </h6>
            {{else}}
                <button name="leave" type="button" class="leave btn btn-default btn-lg">Leave this collaboration</button>
            {{/if}}
          {{else}}
            {{#if requiresAdministratorApprovalToJoin}}
              {{#if hasAlreadyApplied}}
                <button name="waiting" type="button" class="waiting btn btn-default btn-lg">Waiting for approval</button>
              {{else}}
                <button name="apply" type="button" class="apply btn btn-default btn-lg">Apply for membership</button>
              {{/if}}
            {{else}}
                <button name="join" type="button" class="join btn btn-default btn-lg">Join this collaboration</button>
            {{/if}}
          {{/if}}
        </div>

    </div>
  <!-- </a> -->
</template>
