<template name="collaborationEdit">
   <h3 class="short" style="color:white;text-align:center; margin:10px; padding:0; font-size:26px;" >Edit Collaboration</h3>
   <div class="basicPanel">
   {{>upsertCollaborationForm doc=this type="update"}}

   <!--
       <a class='cancelAndGoCollaborationList' style="float:right"> <i class="fa fa-remove"  title="Cancel collaboration"></i> </a>
       {{> quickForm id="editCollaboration" collection="Collaboration" validation="submit" doc=this type="update"
            fields="name,description,collaborators,administrators,requiresAdministratorApprovalToJoin,invitations" schema=Schemas.collaboration }}
       <button type="button"   onclick='$(".collapsed").hide()' class="btn btn-primary cancelAndGoCollaborationList"> cancel </button>
       <button type="button" class="btn btn-primary removeCollaboration"> Remove </button>
   -->
   </div>
</template>
