
<template name="collaborationReview">
  <div id="collaborationReview">
    <div class="pageBody">
      <div class="basicPanel">
        <h4 class="short" style="">Membership Requests</h4>
        <h5>{{name}}</h5>
         <form>
           <table>
            {{#each requests}}
            <tr>
                <th> {{this}} </th>
                <th> <label class="radio-inline"><input type="radio" class="underReview" value="underReview" name="{{this}}" checked>Under review</label> </th>
                <th> <label class="radio-inline"><input type="radio" class="notApproved" value="notApproved" name="{{this}}">Not Appoved</label> </th>
                <th> <label class="radio-inline"><input type="radio" class="approved"    value="approved"    name="{{this}}">Approved</label> </th>
            </tr>
            {{/each }}
           </table>
         </form>
         <div class="panelFooter">
           <button id="doneReviewingBtn" type="submit" class="btn btn-primary reviewCollaboration" > Done </button>
           <button id="cancelReviewBtn" type="button" class="btn btn-main cancelAndGoCollaborationList" > cancel </button>
         </div>
         <!--
         {{>upsertCollaborationForm doc=this type="update"}}

             <a class='cancelAndGoCollaborationList' style="float:right"> <i class="fa fa-remove"  title="Cancel collaboration"></i> </a>
             {{> quickForm id="editCollaboration" collection="Collaboration" validation="submit" doc=this type="update"
                  fields="name,description,collaborators,administrators,requiresAdministratorApprovalToJoin,invitations" schema=Schemas.collaboration }}
             <button type="button" onclick='$(".collapsed").hide()'  class="btn btn-primary cancelAndGoCollaborationList"> cancel </button>
             <button type="button" class="btn btn-primary removeCollaboration"> Remove </button>
         -->
      </div>

    </div>


  </div>
</template>
